.about-banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 40px;
  position: relative;

  & .about-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
  }
}

.about-container {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;

  & .about-collapse-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  & .about-collapse-item {
    border-radius: 5px;
    overflow: hidden;

    & .about-btn {
      width: 100%;
      background-color: #ff6060;
      color: #ffffff;
      border: none;
      width: 100%;
      height: 54px;
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }

    //     & div {
    //       padding: 15px 20px;
    //       background-color: #ffffff;
    //       font-size: 16px;
    //       line-height: 1.5;
    //       color: #555555;
    //     }
  }
}
