.about-banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 40px;
  position: relative;

  & .about-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
  }
}

.about-container {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;

  .about-collapse-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
}

@media (max-width: 728px) {
}

@media (max-width: 480px) {
  .about-banner {
    height: 111px;
    width: 100%;
    margin: 0;
    max-width: 335px;
  }

  .about-container {
    max-width: 335px;
    width: 100%;
  }
}
