.about-banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 40px;
  position: relative;

  & .about-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
  }
}

.about-container {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;

  .about-collapse-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }

  .about-collapse-item {
    border-radius: 5px;
    overflow: hidden;

    .about-btn {
      width: 100%;
      background-color: #ff6060;
      color: #ffffff;
      border: none;
      height: 54px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;

      .about-icone {
        transition: transform 0.3s ease;
        transform: rotate(0deg);
      }

      &.open .about-icone {
        transform: rotate(180deg);
      }
    }

    .about-description {
      padding: 15px 20px;
      font-size: 18px;
      line-height: 1.5;
    }

    .about-icone {
      width: 32px;
      height: 32px;
    }
  }
}
