.about-collapse-item {
  overflow: hidden;

  .about-btn {
    width: 100%;
    background-color: #ff6060;
    color: #ffffff;
    border: none;
    height: 54px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;

    .about-icone {
      transition: transform 0.3s ease;
      transform: rotate(0deg);
    }

    &.open .about-icone {
      transform: rotate(180deg);
    }
  }

  .about-description {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    background-color: #f6f6f6;

    transition:
      max-height 0.4s ease-in-out,
      opacity 0.4s ease-in-out,
      padding 0.4s ease-in-out;
  }

  .about-description.open {
    max-height: 1000px;
    opacity: 1;
    padding: 30px 20px;
  }

  .about-icone {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .about-collapse-item {
    .about-btn {
      font-size: 16px;
      height: 40px;
      border-radius: 10px;
    }

    .about-description {
      font-size: 16px;
    }

    .about-icone {
      width: 18px;
    }
  }
}

@media (max-width: 480px) {
  .about-collapse-item {
    .about-btn {
      font-size: 13px;
      height: 30px;
      border-radius: 5px;
    }

    .about-description {
      font-size: 13px;
    }

    .about-icone {
      width: 16px;
    }
  }
}
