#root {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

// @keyframes

@media (max-width: 768px) {
  #root {
    margin: auto;
  }
}

@media (max-width: 480px) {
  #root {
    gap: 30px;
  }
}
