.carrousel {
  width: 100%;
  position: relative;

  .logement-picture {
    border-radius: 25px;
    width: 100%;
    height: 415px;
    object-fit: cover;
  }

  .carrousel-counter {
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-group-carrousel {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    top: 50%;
    transform: translateY(-50%);

    .btn-carrousel {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .previous-icone {
      transform: rotate(270deg);
      width: 47px;
      height: 80px;
    }

    .next-icone {
      transform: rotate(90deg);
      width: 47px;
      height: 80px;
    }
  }
}

@media (max-width: 768px) {
  .carrousel .logement-picture {
    height: 355px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .carrousel {
    .btn-group-carrousel {
      height: 24px;

      .previous-icone {
        width: 24px;
        height: 24px;
      }

      .next-icone {
        width: 24px;
        height: 24px;
      }
    }

    .carrousel-counter {
      display: none;
    }

    .logement-picture {
      height: 255px;
      border-radius: 10px;
    }
  }
}
