.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 139px;

  .error-title {
    font-weight: 700;
    color: #ff6060;
    font-size: 288px;
    margin: 0;
  }

  & p {
    font-size: 36px;
    color: #ff6060;
    font-weight: 500;
    margin: 0;
  }

  .back-home {
    margin-bottom: 100px;

    .back-home-link {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
    }
  }
}
