.footer-container {
  background-color: #000000;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .footer-text {
    color: #ffffff;
    font-size: 24px;
  }

  & .footer-logo {
    color: #ffffff;
    margin-top: 10px;
    width: 100px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    & .footer-text {
      font-size: 12px;
      text-align: center;
      padding: 10px 10px 0px 10px;
      width: 133px;
    }
  }
}
