.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  max-width: 1240px;
  width: 100%;
  height: 68px;
}

.header-logo {
  height: 68px;
}

.nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 57px;

  & .nav-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
  }

  & .nav-text:active,
  .nav-text:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    max-width: 690px;
  }

  .header-logo {
    width: 200px;
  }

  .nav-button {
    gap: 30px;

    & .nav-text {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .header-container {
    width: 100%;
    max-width: 335px;
  }

  .header-logo {
    width: 145px;
  }

  .nav-button {
    gap: 26px;

    & .nav-text {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
