.home-banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 40px;
  position: relative;

  & .home-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    z-index: 1;
  }

  .home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: 700;
    z-index: 2;
    width: 100%;
    text-shadow:
      0 0 2px black,
      0 2px 8px rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
}

.logements-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  padding: 0;
  margin: 0;
  max-width: 1240px;
}

@media (max-width: 768px) {
  .home-banner {
    height: 180px;
    width: 100%;
    max-width: 690px;
    margin: 0;

    .home-title {
      font-size: 36px;
    }
  }

  .logements-list {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .home-banner {
    height: 111px;
    width: 100%;
    margin: 0;
    max-width: 335px;

    .home-title {
      font-size: 24px;
      width: 225px;
      height: 48px;
      text-align: left;
      left: 20px;
      transform: translateY(-50%);
    }
  }

  .logements-list {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
