.home-banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 40px;
  position: relative;

  & .home-img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    z-index: 1;
  }

  .home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: 700;
    z-index: 2;
    width: 100%;
    text-shadow:
      0 0 2px black,
      0 2px 8px rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
}

.logements-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  padding: 0;
  margin: 0;
  max-width: 1240px;
}
