.home-banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin-bottom: 40px;
  position: relative;
  opacity: 60%;
}

.home-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  width: 100%;
}

.homepage-img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.logements-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-width: 1240px;
}

.logement-item-title {
  font-size: 18px;
}
