:root {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  color: #000000;
  padding-top: 45px;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #e05858;
//   cursor: pointer;
//   transition: border-color 0.25s;

//   &:hover {
//     border-color: #646cff;
//   }
//   &:focus,
//   &:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
//   }
// }
