.logement-item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logement-item-cover {
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
