.logement-item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .logement-item-cover {
    width: 340px;
    height: 340px;
    border-radius: 10px;
  }

  .logement-item-title {
    position: absolute;
    top: 268px;
    left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: start;
    text-shadow:
      0 0 2px black,
      0 2px 8px rgba(0, 0, 0, 0.6);
  }

  & img {
    object-fit: cover;
  }
}
