.logement-item {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 340px;
  width: 340px;

  .logement-item-cover {
    height: 340px;
    width: 340px;
    border-radius: 10px;
  }

  .logement-item-title {
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: start;
    text-shadow:
      0 0 2px black,
      0 2px 8px rgba(0, 0, 0, 0.6);
  }

  & img {
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .logement-item {
    height: 255px;
    width: 335px;
    margin: 0;

    .logement-item-cover {
      height: 255px;
      width: 335px;
    }

    .logement-item-title {
      top: 80%;
    }
  }
}

@media (max-width: 480px) {
  .logement-item {
    height: 255px;
    width: 335px;
    margin: 0;

    .logement-item-cover {
      height: 255px;
      width: 335px;
    }

    .logement-item-title {
      top: 80%;
    }
  }
}
