.logement-annonce-item {
  max-width: 1240px;
  width: 100%;

  .description-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;

    .title-description-tag-div {
      align-items: flex-start;

      .title-description-div {
        padding: 20px 0;
        width: fit-content;

        .logement-title {
          font-size: 36px;
          font-weight: 500;
          color: #ff6060;
          text-align: left;
          margin-bottom: 10px;
        }

        .logement-description {
          font-size: 18px;
          font-weight: 500;
          margin: 0;
          text-align: left;
        }
      }

      .tag-div {
        display: flex;
        gap: 10px;
        width: fit-content;
        max-width: 100%;

        .tag-item {
          background-color: #ff6060;
          color: #ffffff;
          padding: 5px 10px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }

  .logement-collapse-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;

    .logement-menu {
      width: 582px;

      .equipments-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #000000;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 768px) {
  .logement-annonce-item {
    max-width: 690px;
    width: 100%;

    .description-div {
      flex-direction: column;
      gap: 27px;

      .title-description-tag-div {
        .title-description-div {
          .logement-title {
            font-size: 22px;
          }

          .logement-description {
            font-size: 16px;
          }
        }

        .tag-div {
          .tag-item {
            font-size: 14px;
          }
        }
      }

      .rating-host-div {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 33px;

        .rating {
          height: 24px;
          width: 100px;

          .star {
            width: 20px;
            & .filled {
              width: 20px;
            }
          }
        }

        .host-div {
          padding: 0;

          .host-name {
            font-size: 16px;
          }

          .host-picture {
            width: 42px;
          }
        }
      }
    }

    .logement-collapse-item {
      flex-direction: column;
      gap: 20px;

      .logement-menu {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .logement-annonce-item {
    max-width: 335px;
    width: 100%;

    .description-div {
      flex-direction: column;
      gap: 27px;

      .title-description-tag-div {
        .title-description-div {
          .logement-title {
            font-size: 18px;
          }

          .logement-description {
            font-size: 14px;
          }
        }

        .tag-div {
          .tag-item {
            font-size: 10px;
          }
        }
      }
    }

    .rating-host-div {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: 33px;

      .rating {
        height: 18px;
        width: 98px;

        .star {
          width: 18px;
          & .filled {
            width: 18px;
          }
        }
      }

      .host-div {
        padding: 0;

        .host-name {
          font-size: 12px;
        }

        .host-picture {
          width: 32px;
        }
      }
    }
  }

  .logement-collapse-item {
    flex-direction: column;
    gap: 20px;

    .logement-menu {
      width: 100%;
    }
  }
}
