.rating {
  display: flex;
  justify-content: flex-end;
  gap: 15px;

  .star {
    width: 24px;
    filter: grayscale(100%);

    &.filled {
      filter: none;
    }
  }
}

@media (max-width: 768px) {
  .rating {
    gap: 10px;
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .rating {
    gap: 2px;
    width: 98px;

    .star {
      height: 13px;
      & .filled {
        height: 13px;
      }
    }
  }
}
